<div class="blogIngress">
    <h1>{{tittel}}</h1>
    <div class="blogDate">{{dato dato}}</div>
    <div class="ingress">{{ingress}}</div>

    <div class="blogContent">{{content.content}}</div>

    {{link-to "Tilbake til blogg" "blog"}}
</div>