{{#each post in controller}}
    <div class="blogIngress">
        <h1>{{post.tittel}}</h1>
        <div class="blogDate">{{dato post.dato}}</div>
        <div class="ingress">{{post.ingress}}</div>

        {{link-to "Les hele innlegget" "blog.post" post}}
    </div>
{{/each}}

{{outlet}}

